.app-container {
  width: 100%;
  height: 100%;
  background: rgba(221, 221, 221, 0.05);
  //display: flex;
  .top-container{
    height: 60px;
    background: #ee7347;
    width: 100%;
    padding: 5px 20px;
  }
  .body-container{

    display: flex;
    .menu-container{
      width: 300px;
      height: 100%;
    }
    .content-container{
      overflow: hidden;
      padding: 10px;
      flex: 1;
    }
  }
}